<div class="row g-4">
  @for (item of [1,2,3,4,5,6]; track item) {
    <div class="col-12 col-lg-6 col-xl-4 col-xxl-3">
      <div class="card border-0 shadow-sm h-100">
        <div class="card-body p-4 d-flex flex-column gap-3">
          <div class="d-flex justify-content-between">
            <div class="w-50">
              <p class="placeholder-glow mb-1">
                <span class="placeholder col-6"></span>
              </p>
              <p class="placeholder-glow mb-0">
                <span class="placeholder col-10"></span>
              </p>
            </div>
            <p class="placeholder-glow mb-0">
              <span class="placeholder col-12" style="width: 60px;"></span>
            </p>
          </div>
          <p class="placeholder-glow mb-0">
            <span class="placeholder col-12"></span>
            <span class="placeholder col-8"></span>
          </p>
          <div class="d-flex gap-2">
            <span class="placeholder col-3"></span>
            <span class="placeholder col-3"></span>
          </div>
          <div class="border-top pt-3 mt-auto d-flex justify-content-between">
            <div>
              <p class="placeholder-glow mb-1">
                <span class="placeholder col-8"></span>
              </p>
              <p class="placeholder-glow mb-0">
                <span class="placeholder col-6"></span>
              </p>
            </div>
            <div>
              <p class="placeholder-glow mb-1">
                <span class="placeholder col-8"></span>
              </p>
              <p class="placeholder-glow mb-0">
                <span class="placeholder col-6"></span>
              </p>
            </div>
          </div>
          <p class="placeholder-glow mb-0">
            <span class="placeholder col-12 btn"></span>
          </p>
        </div>
      </div>
    </div>
  }
</div>