<div class="container-fluid py-4">
  <h2>Mis tickets</h2>
  <div class="row g-4">
    <div class="col-12 col-lg-6 col-xl-4 col-xxl-3">
      @for (ticket of tickets(); track ticket.id) {
          <ticket-card
            [ticket]="ticket"
          >
            <button 
              class="btn btn-outline-secondary btn-sm w-100 fw-bold"
              (click)="goToDetail(ticket.id)"
            >
              Ver detalle
            </button>
            @if (ticket.status === 'OPEN') {
              <button 
                class="btn btn-outline-danger btn-sm w-100 fw-bold"
                (click)="cancelTicket(ticket.id)"
              >
                Cancelar
              </button>
            }
          </ticket-card>
      }
    </div>
  </div>
</div>